* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  border: none;
  outline: none;
}

@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  background-color: #494949;
  color: #ffffff;
}
// WRAPPER

// USER
.user {
  &__title {
    text-align: center;
    font-weight: 900;
    font-size: 60px;
  }

  &__item-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: #7c7b7b;
    border-radius: 20px;
    padding: 30px;
    margin-top: 50px;
  }

  &__item {
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    border-radius: 20px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 20px;

    &_img-wrapper {
      width: 70px;
      height: 70px;
      overflow: hidden;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &_img {
      width: 100%;
    }
  }
}

.input {
  padding: 20px;
}
